*.aux
*.fls
*.log
thesis.bbl
thesis.blg
thesis.log
thesis.out
thesis.pdf
thesis.synctex.gz
thesis.toc
thesis.fdb_latexmk
thesis.fls
**/*.aux
**/*.fls
**/*.log
frontback/Colophon.aux
frontback/Contents.aux
frontback/Acknowledgments.aux
ppgc-diss.bbl
ppgc-diss.blg
ppgc-diss.log
ppgc-diss.out
ppgc-diss.pdf
ppgc-diss.synctex.gz
ppgc-diss.toc
ppgc-diss.fdb_latexmk
ppgc-diss.fls
ppgc-diss.lof
ppgc-diss.lot
